## 파이썬 기본 데이터 형

In [ ]:
3

In [ ]:
3.0

In [ ]:
'3'

In [ ]:
type(3)

In [ ]:
type(3.0)

In [ ]:
type('3')

## 파이썬 기본 연산

In [ ]:
3 + 3.0

In [ ]:
3 + '3'

In [ ]:
'안녕' + '하세요'

In [ ]:
'안녕' * 5

## 변수

In [ ]:
test_name = 3

In [ ]:
test_name2 = 3.0

In [ ]:
test_name3 = '3'

## 리스트

In [ ]:
menu = ['짜장면', '돈까스', '냉면']

In [ ]:
menu

In [ ]:
menu[0]

In [ ]:
menu[1:3]

## 딕셔너리

In [ ]:
grade = {'수학':90, '영어':100, '국어':70}

In [ ]:
grade

In [ ]:
grade['수학']

## for문

In [ ]:
for temp in [1, 2, 3, 4, 5]:
    print(temp)

In [ ]:
for temp in range(1, 100):
    print(temp, end='\t')

## while문

In [ ]:
a = 1
while a < 6:
    print(a)
    a = a + 1

## 조건문

In [ ]:
number = 10

if number > 0 :
    print('양수')
elif number < 0 :
    print('음수')
else:
    print(0)

## 함수

In [ ]:
height = 3
bottom = 4
hypotenuse = (height ** 2 + bottom ** 2) ** 0.5

In [ ]:
hypotenuse

In [ ]:
def pita():
    height_ft = 3
    bottom_ft = 4
    hypotenuse_ft = (height_ft ** 2 + bottom_ft ** 2) ** 0.5

In [ ]:
pita()

In [ ]:
hypotenuse_ft

In [ ]:
def pita():
    height_ft = 3
    bottom_ft = 4
    hypotenuse_ft = (height_ft ** 2 + bottom_ft ** 2) ** 0.5
    return hypotenuse_ft

In [ ]:
pita()

In [ ]:
def pita(height_ft, bottom_ft):
    hypotenuse_ft = (height_ft ** 2 + bottom_ft ** 2) ** 0.5
    return hypotenuse_ft

In [ ]:
print(pita(3, 4))
print(pita(2, 3))

## Pandas

In [ ]:
import pandas as pd

In [ ]:
series_ex = pd.Series([100, 90, 120, 110, 105])

series_ex

In [ ]:
series_ex2 = pd.Series([100, 90, 120, 110, 105], index=['월', '화', '수', '목', '금'])

series_ex2

In [ ]:
series_ex2['월']

In [ ]:
series_ex2[1]

In [ ]:
dataframe_ex = pd.DataFrame({'서울GDP':[100, 110, 120, 130, 135], 
              '부산GDP':[70, 90, 80, 90, 100], 
              '광주GDP':[50, 60, 65, 69, 80]}, 
             index=[2012, 2013, 2014, 2015, 2016])

dataframe_ex

In [ ]:
dataframe_ex['서울GDP']

In [ ]:
dataframe_ex.loc[2015]

In [ ]:
print(dataframe_ex['서울GDP'][2015])
print(dataframe_ex.loc[2015]['서울GDP'])

In [ ]:
series_ex2.sort_values()

In [ ]:
series_ex2.sort_values(ascending=False)

In [ ]:
dataframe_ex.sort_values(by='서울GDP', ascending=False)

In [ ]:
series_ex2[ series_ex2 > 100 ]

In [ ]:
dataframe_ex[ dataframe_ex['부산GDP'] > 80 ]

## 주석처리

In [ ]:
# print('주석입니다.')
print('주석이 아닙니다.')