In [1]:
#-*- coding: utf-8 -*-
#import sys 
#reload(sys)
#sys.setdefaultencoding('utf-8')

import requests
#from pprint import pprint

In [2]:
# kakao api
APP_KEY = "${API_KEY}"
kakao_url = "https://dapi.kakao.com/v2/local/search/address.json"
kakao_headers = {"Authorization" : "KakaoAK {}".format(APP_KEY)}

# naver api
client_id = "${CLIENT_IT}"
client_secret = "${CLIENT_SECRET}"
naver_url = "https://openapi.naver.com/v1/map/geocode" 
naver_headers = {"X-Naver-Client-Id" : "{}".format(client_id) , "X-Naver-Client-Secret": "{}".format(client_secret)}

In [3]:
def kakao_req(params, method):
#     print('HTTP Method: %s' % method)
#     print('Request URL: %s' % kakao_url)
#     print('Headers: %s' % kakao_headers)
#     print('QueryString: %s' % params)

    if method == 'GET':
        return requests.get(kakao_url, headers=kakao_headers, params=params)
    
def naver_req(params, method):
#     print('HTTP Method: %s' % method)
#     print('Request URL: %s' % naver_url)
#     print('Headers: %s' % naver_headers)
#     print('QueryString: %s' % params)
    
    if method == 'GET':
        return requests.get(naver_url, headers=naver_headers, params=params)

In [4]:
def get_location(address):

    params = {"query": "{}".format(address)}

    response = naver_req(params, 'GET')
        

#    #kakao parsing
#     pprint(data['meta']['total_count'])
#     pprint(data["documents"][0]["x"])
#     pprint(data["documents"][0]["y"])
    
        
    return response

In [5]:
import findspark
findspark.init()
import pyspark
import os
import numpy as np

In [6]:
#sc = pyspark.SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

In [7]:
basic_folder = '/home/project/real_estate/data/apartment_trade_data/'

file_list = os.listdir(basic_folder)
path_list=[]
for file in file_list:
    print(file)
    path_list.append(basic_folder + file)
    
print(path_list)

apartment_trade_201009.csv
apartment_trade_200801.csv
apartment_trade_201301.csv
apartment_trade_200802.csv
apartment_trade_201707.csv
apartment_trade_201001.csv
apartment_trade_201106.csv
apartment_trade_201612.csv
apartment_trade_201605.csv
apartment_trade_201109.csv
apartment_trade_201805.csv
apartment_trade_201711.csv
apartment_trade_201102.csv
apartment_trade_200901.csv
apartment_trade_201101.csv
apartment_trade_200805.csv
apartment_trade_201610.csv
apartment_trade_201312.csv
apartment_trade_201803.csv
apartment_trade_201002.csv
apartment_trade_201404.csv
apartment_trade_201201.csv
apartment_trade_201108.csv
apartment_trade_200912.csv
apartment_trade_201703.csv
apartment_trade_201202.csv
apartment_trade_201203.csv
apartment_trade_201004.csv
apartment_trade_201209.csv
apartment_trade_201407.csv
apartment_trade_201011.csv
apartment_trade_200909.csv
apartment_trade_201509.csv
apartment_trade_201306.csv
apartment_trade_201409.csv
apartment_trade_201208.csv
apartment_trade_201710.csv
apartment_trade_201709.csv
apartment_trade_201405.csv
apartment_trade_201408.csv
apartment_trade_201012.csv
apartment_trade_200904.csv
apartment_trade_200810.csv
apartment_trade_201406.csv
apartment_trade_200902.csv
apartment_trade_201302.csv
apartment_trade_201802.csv
apartment_trade_201806.csv
apartment_trade_200906.csv
apartment_trade_200806.csv
apartment_trade_201507.csv
apartment_trade_201204.csv
apartment_trade_201303.csv
apartment_trade_200811.csv
apartment_trade_201104.csv
apartment_trade_201309.csv
apartment_trade_201609.csv
apartment_trade_201211.csv
apartment_trade_201602.csv
apartment_trade_201701.csv
apartment_trade_200812.csv
apartment_trade_201305.csv
apartment_trade_201708.csv
apartment_trade_200910.csv
apartment_trade_201801.csv
apartment_trade_200903.csv
apartment_trade_201107.csv
apartment_trade_201706.csv
apartment_trade_201008.csv
apartment_trade_200907.csv
apartment_trade_201704.csv
apartment_trade_201307.csv
apartment_trade_201103.csv
apartment_trade_201105.csv
apartment_trade_201401.csv
apartment_trade_201501.csv
apartment_trade_201212.csv
apartment_trade_201310.csv
apartment_trade_201705.csv
apartment_trade_201502.csv
apartment_trade_201601.csv
apartment_trade_200908.csv
apartment_trade_201604.csv
apartment_trade_200808.csv
apartment_trade_201111.csv
apartment_trade_201611.csv
apartment_trade_200911.csv
apartment_trade_201410.csv
apartment_trade_201608.csv
apartment_trade_200809.csv
apartment_trade_200803.csv
apartment_trade_201304.csv
apartment_trade_201112.csv
apartment_trade_201206.csv
apartment_trade_201207.csv
apartment_trade_201506.csv
apartment_trade_201003.csv
apartment_trade_201010.csv
apartment_trade_201508.csv
apartment_trade_201510.csv
apartment_trade_201804.csv
apartment_trade_201005.csv
apartment_trade_201006.csv
apartment_trade_201308.csv
apartment_trade_201311.csv
apartment_trade_201606.csv
apartment_trade_201511.csv
apartment_trade_201110.csv
apartment_trade_201512.csv
apartment_trade_201702.csv
apartment_trade_200807.csv
apartment_trade_201007.csv
apartment_trade_200905.csv
apartment_trade_201607.csv
apartment_trade_201603.csv
apartment_trade_201412.csv
apartment_trade_201402.csv
apartment_trade_201205.csv
apartment_trade_201403.csv
apartment_trade_201505.csv
apartment_trade_201504.csv
apartment_trade_200804.csv
apartment_trade_201210.csv
apartment_trade_201411.csv
apartment_trade_201503.csv
apartment_trade_201712.csv
['/home/project/real_estate/data/apartment_trade_data/apartment_trade_201009.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200801.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201301.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200802.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201707.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201001.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201106.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201612.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201605.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201109.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201805.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201711.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201102.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200901.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201101.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200805.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201610.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201312.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201803.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201002.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201404.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201201.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201108.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200912.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201703.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201202.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201203.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201004.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201209.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201407.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201011.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200909.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201509.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201306.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201409.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201208.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201710.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201709.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201405.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201408.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201012.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200904.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200810.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201406.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200902.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201302.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201802.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201806.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200906.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200806.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201507.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201204.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201303.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200811.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201104.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201309.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201609.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201211.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201602.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201701.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200812.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201305.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201708.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200910.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201801.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200903.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201107.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201706.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201008.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200907.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201704.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201307.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201103.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201105.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201401.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201501.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201212.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201310.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201705.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201502.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201601.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200908.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201604.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200808.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201111.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201611.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200911.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201410.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201608.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200809.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200803.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201304.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201112.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201206.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201207.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201506.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201003.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201010.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201508.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201510.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201804.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201005.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201006.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201308.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201311.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201606.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201511.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201110.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201512.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201702.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200807.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201007.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200905.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201607.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201603.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201412.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201402.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201205.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201403.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201505.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201504.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_200804.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201210.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201411.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201503.csv', '/home/project/real_estate/data/apartment_trade_data/apartment_trade_201712.csv']

In [8]:
df = sqlContext.read.format("com.databricks.spark.csv") \
    .option("header", "true").option("inferSchema", "true").load(path_list)

In [9]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- build_year: integer (nullable = true)
 |-- trade_price: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: string (nullable = true)
 |-- city: string (nullable = true)
 |-- sub_city: string (nullable = true)
 |-- dong: string (nullable = true)
 |-- code: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- floor: string (nullable = true)
 |-- exclusive_private_area: double (nullable = true)
 |-- address: string (nullable = true)
 |-- detailed_address: string (nullable = true)

In [10]:
df.show()
df.count()

+---+----------+-----------+----+-----+-----+-----+--------+-----+-----+---------------+-----+----------------------+---------------+----------------+
|_c0|build_year|trade_price|year|month|  day| city|sub_city| dong| code|           name|floor|exclusive_private_area|        address|detailed_address|
+---+----------+-----------+----+-----+-----+-----+--------+-----+-----+---------------+-----+----------------------+---------------+----------------+
|  0|      2000|     89,000|2015|    3|11~20|서울특별시|     종로구|  청운동|11110|           청운현대|    1|                129.76| 서울특별시 종로구  청운동|           56-45|
|  1|      2002|     48,500|2015|    3| 1~10|서울특별시|     종로구|  신교동|11110|       신현(101동)|    3|                 84.82| 서울특별시 종로구  신교동|            6-13|
|  2|      2008|     85,000|2015|    3| 1~10|서울특별시|     종로구|  사직동|11110|광화문풍림스페이스본(9-0)|    9|                 94.51| 서울특별시 종로구  사직동|               9|
|  3|      2008|    107,000|2015|    3|11~20|서울특별시|     종로구|  사직동|11110|광화문풍림스페이스본(9-1)|    6|                144.52| 서울특별시 종로구  사직동|             9-1|
|  4|      2008|     73,000|2015|    3|21~31|서울특별시|     종로구|  사직동|11110|광화문풍림스페이스본(9-0)|    7|                 94.51| 서울특별시 종로구  사직동|               9|
|  5|      2008|     96,500|2015|    3|21~31|서울특별시|     종로구|  사직동|11110|광화문풍림스페이스본(9-0)|    4|                126.34| 서울특별시 종로구  사직동|               9|
|  6|      2008|     77,000|2015|    3|21~31|서울특별시|     종로구|  사직동|11110|광화문풍림스페이스본(9-0)|    1|                 97.61| 서울특별시 종로구  사직동|               9|
|  7|      1981|     42,500|2015|    3| 1~10|서울특별시|     종로구|  당주동|11110|            미도파|    7|                 93.36| 서울특별시 종로구  당주동|             145|
|  8|      2004|    108,000|2015|    3| 1~10|서울특별시|     종로구|  내수동|11110|      경희궁의아침2단지|    2|                124.17| 서울특별시 종로구  내수동|              71|
|  9|      2003|    117,500|2015|    3| 1~10|서울특별시|     종로구|  내수동|11110|          파크팰리스|   14|                146.39| 서울특별시 종로구  내수동|              95|
| 10|      2004|    115,000|2015|    3|21~31|서울특별시|     종로구|  내수동|11110|      경희궁의아침4단지|   14|                150.48| 서울특별시 종로구  내수동|              73|
| 11|      2003|    111,000|2015|    3|21~31|서울특별시|     종로구|  내수동|11110|          파크팰리스|   16|                147.62| 서울특별시 종로구  내수동|              95|
| 12|      2003|     25,700|2015|    3| 1~10|서울특별시|     종로구|  익선동|11110|         현대뜨레비앙|    7|                 48.54| 서울특별시 종로구  익선동|              55|
| 13|      2006|     51,000|2015|    3| 1~10|서울특별시|     종로구|  인의동|11110|        효성쥬얼리시티|   17|                 84.98| 서울특별시 종로구  인의동|            48-2|
| 14|      2006|     60,000|2015|    3|11~20|서울특별시|     종로구|  인의동|11110|        효성쥬얼리시티|   14|                 98.39| 서울특별시 종로구  인의동|            48-2|
| 15|      2014|     17,500|2015|    3| 1~10|서울특별시|     종로구|  연건동|11110|          이화에수풀|   13|                 16.98| 서울특별시 종로구  연건동|          195-10|
| 16|      2002|     40,700|2015|    3|21~31|서울특별시|     종로구| 명륜1가|11110|           아마레스|    7|                 73.17|서울특별시 종로구  명륜1가|            45-5|
| 17|      1995|     56,300|2015|    3| 1~10|서울특별시|     종로구| 명륜2가|11110|            아남1|    4|                  84.9|서울특별시 종로구  명륜2가|               4|
| 18|      1996|     74,500|2015|    3|11~20|서울특별시|     종로구| 명륜2가|11110|            아남2|    5|                114.36|서울특별시 종로구  명륜2가|             236|
| 19|      1995|     58,000|2015|    3|11~20|서울특별시|     종로구| 명륜2가|11110|            아남1|   14|                  84.9|서울특별시 종로구  명륜2가|               4|
+---+----------+-----------+----+-----+-----+-----+--------+-----+-----+---------------+-----+----------------------+---------------+----------------+
only showing top 20 rows

5967446

In [11]:
#filter_df = df.filter((df["detailed_address"] == "") | df["detailed_address"].isNull() | isnan(df["detailed_address"]))
#filter_df.show()
#filter_df.count() == 36

filter_df = df.na.drop()

In [12]:
from pyspark.sql.functions import *

In [13]:
unique_date_df = filter_df.groupBy(filter_df.year,filter_df.month, filter_df.day).agg(count("day").alias('count'))

unique_date_list = unique_date_df.collect()

new_date_list = []

for unique_date in unique_date_list:
    if unique_date[1] < 10 :
        if int(unique_date[2].split('~')[0]) < 10 : 
            date = str(unique_date[0]) + '-' + '0' + str(unique_date[1]) + '-' + '0' +unique_date[2].split('~')[0] + 'T' + "00:00:00"
        else:
            date = str(unique_date[0]) + '-' + '0' + str(unique_date[1]) + '-' +unique_date[2].split('~')[0] + 'T' + "00:00:00"
        
    else:
        if int(unique_date[2].split('~')[0]) < 10 : 
            date = str(unique_date[0]) + '-' + str(unique_date[1]) + '-' + '0' +unique_date[2].split('~')[0] + 'T' + "00:00:00"
    
        else:
            date = str(unique_date[0]) + '-' + str(unique_date[1]) + '-' +unique_date[2].split('~')[0] + 'T' + "00:00:00"
    
    
    new_date_list.append([unique_date[0], unique_date[1],unique_date[2],date])
    
    
unique_date_df = sc.parallelize(new_date_list).toDF(['year','month','day','date'])

In [14]:
added_date_df = filter_df.join(unique_date_df, ['year','month','day']).sort('date')
added_date_df.show()
added_date_df.count()

+----+-----+----+---+----------+-----------+-----+--------+------+-----+--------+-----+----------------------+---------------+----------------+-------------------+
|year|month| day|_c0|build_year|trade_price| city|sub_city|  dong| code|    name|floor|exclusive_private_area|        address|detailed_address|               date|
+----+-----+----+---+----------+-----------+-----+--------+------+-----+--------+-----+----------------------+---------------+----------------+-------------------+
|2008|    1|1~10|  9|      2004|     45,000|서울특별시|      중구|   신당동|11140|   삼성홈타운|    6|                104.98|  서울특별시 중구  신당동|             849|2008-01-01T00:00:00|
|2008|    1|1~10|  0|      1981|      4,800|서울특별시|      중구| 장충동2가|11140|      장충|    6|                 31.24|서울특별시 중구  장충동2가|          193-29|2008-01-01T00:00:00|
|2008|    1|1~10|  8|      2002|     37,300|서울특별시|      중구|   신당동|11140|    남산타운|   14|                 59.94|  서울특별시 중구  신당동|             844|2008-01-01T00:00:00|
|2008|    1|1~10| 17|      1968|     12,500|서울특별시|     종로구|   창신동|11110|(436-79)|    6|                  59.6| 서울특별시 종로구  창신동|          436-79|2008-01-01T00:00:00|
|2008|    1|1~10| 33|      1997|      8,350|서울특별시|     종로구|   평창동|11110|      갑을|   12|                 30.46| 서울특별시 종로구  평창동|             595|2008-01-01T00:00:00|
|2008|    1|1~10|  4|      2001|     14,450|서울특별시|      중구|   신당동|11140|동산빌라(2차)|    2|                 54.46|  서울특별시 중구  신당동|        432-1952|2008-01-01T00:00:00|
|2008|    1|1~10|  7|      2003|     23,000|서울특별시|      중구|   신당동|11140|   청구파크뷰|    5|                 78.57|  서울특별시 중구  신당동|          292-35|2008-01-01T00:00:00|
|2008|    1|1~10|  5|      2006|     67,000|서울특별시|     종로구|   인의동|11110| 효성쥬얼리시티|   16|                106.81| 서울특별시 종로구  인의동|            48-2|2008-01-01T00:00:00|
|2008|    1|1~10| 12|      2003|     22,000|서울특별시|     종로구|  명륜1가|11110| 리치캐슬아파트|    2|                  75.6|서울특별시 종로구  명륜1가|           33-85|2008-01-01T00:00:00|
|2008|    1|1~10| 19|      1999|     28,300|서울특별시|     종로구|   창신동|11110|      두산|    5|                 59.95| 서울특별시 종로구  창신동|             232|2008-01-01T00:00:00|
|2008|    1|1~10| 20|      1999|     28,300|서울특별시|     종로구|   창신동|11110|      두산|    4|                 59.95| 서울특별시 종로구  창신동|             232|2008-01-01T00:00:00|
|2008|    1|1~10|  2|      1999|     29,250|서울특별시|      중구|   신당동|11140|   약수하이츠|    1|                 57.63|  서울특별시 중구  신당동|             842|2008-01-01T00:00:00|
|2008|    1|1~10|  3|      2003|     35,000|서울특별시|      중구|   신당동|11140|    란스미어|    1|                 83.69|  서울특별시 중구  신당동|           404-2|2008-01-01T00:00:00|
|2008|    1|1~10|  5|      1999|     74,500|서울특별시|      중구|   신당동|11140|   약수하이츠|   10|                114.92|  서울특별시 중구  신당동|             842|2008-01-01T00:00:00|
|2008|    1|1~10|  6|      1999|     30,000|서울특별시|      중구|   신당동|11140|      삼성|   10|                 59.98|  서울특별시 중구  신당동|             843|2008-01-01T00:00:00|
|2008|    1|1~10|  1|      1973|     20,000|서울특별시|     종로구|   필운동|11110|  사직파크맨션|    6|                 99.17| 서울특별시 종로구  필운동|             142|2008-01-01T00:00:00|
|2008|    1|1~10|  2|      2007|     38,500|서울특별시|     종로구|   필운동|11110|  두레엘리시안|    6|                 84.74| 서울특별시 종로구  필운동|           174-1|2008-01-01T00:00:00|
|2008|    1|1~10|  6|      2006|     50,270|서울특별시|     종로구|   인의동|11110| 효성쥬얼리시티|    7|                 92.81| 서울특별시 종로구  인의동|            48-2|2008-01-01T00:00:00|
|2008|    1|1~10| 11|      2002|     30,400|서울특별시|     종로구|  명륜1가|11110|    아마레스|    1|                 84.59|서울특별시 종로구  명륜1가|            45-5|2008-01-01T00:00:00|
|2008|    1|1~10| 18|      1999|     26,800|서울특별시|     종로구|   창신동|11110|      두산|    2|                 59.95| 서울특별시 종로구  창신동|             232|2008-01-01T00:00:00|
+----+-----+----+---+----------+-----------+-----+--------+------+-----+--------+-----+----------------------+---------------+----------------+-------------------+
only showing top 20 rows

5967410

In [15]:
new_df = added_date_df.groupBy(added_date_df.address,added_date_df.detailed_address).agg(count("detailed_address").alias("count"))
new_df.show()
new_df.count()

+--------------------+----------------+-----+
|             address|detailed_address|count|
+--------------------+----------------+-----+
|     서울특별시 동대문구  장안동|           329-2|  518|
|      서울특별시 노원구  중계동|             600|   26|
|       부산광역시 북구  화명동|            2264| 1659|
|      부산광역시 사상구  학장동|             819|  428|
|       인천광역시 남구  관교동|            13-9|  213|
|      인천광역시 부평구  삼산동|           453-1|  873|
|      인천광역시 부평구  부개동|           477-2|  153|
|      인천광역시 계양구  병방동|             383|  202|
|   울산광역시 울주군 범서읍 구영리|           881-2|  237|
|       경기도 의정부시  민락동|           692-1|  485|
|        경기도 평택시  합정동|             835|  845|
|    경기도 안산시 단원구  초지동|             741| 1543|
|   경기도 고양시 일산서구  주엽동|              90|  294|
|   충청북도 청주시 상당구  금천동|            50-3|  448|
|전라북도 전주시 완산구  중화산동1가|             329|  187|
|       전라북도 익산시  팔봉동|             304|  745|
|       전라북도 익산시  부송동|            1038|  372|
|    전라북도 무주군 무주읍 읍내리|          1216-3|   45|
|        경상북도 안동시  옥동|             974|  748|
|    경상남도 밀양시 하남읍 수산리|          429-12|   27|
+--------------------+----------------+-----+
only showing top 20 rows

38638

In [16]:
sum = new_df.select(sum("count"))

In [17]:
sum.show()

+----------+
|sum(count)|
+----------+
|   5967410|
+----------+

In [18]:
unique_address_list = new_df.collect()
print unique_address_list[0][0]

서울특별시 동대문구  이문동

In [19]:
location_list = []

# checking why no result data
# response = get_location("경상북도 영천시 신령면 완전리") -> 신녕면
# print response.status_code
# data = response.json()
# print data

index = 1.0;
length = len(unique_address_list)
count = 0;

print length 

for address in unique_address_list:    
    full_address = (address[0] + " " + address[1]).encode('utf8')
    #print str("full " + full_address)
    response = get_location(full_address)

    if response.status_code == 200 :
        
        data = response.json()
        
        
        x = data['result']['items'][0]['point']['x']
        y = data['result']['items'][0]['point']['y']
    
        location_list.append([address[0],address[1],y,x])
        
    else: 
        print str("error address: " + full_address)
        count += 1
        print count
        
        location_list.append([address[0],address[1] ,np.nan,np.nan])
    
    if(index % 100 == 0):
        print ("%0.2f" % (index / length * 100.0)) + "% completed"
        
    index += 1.0

8189
1.22% completed
2.44% completed
3.66% completed
4.88% completed
6.11% completed
7.33% completed
8.55% completed
9.77% completed
10.99% completed
12.21% completed
error address: 인천광역시 부평구  부평동 180-24
1
13.43% completed
14.65% completed
15.87% completed
17.10% completed
18.32% completed
19.54% completed
20.76% completed
21.98% completed
23.20% completed
24.42% completed
25.64% completed
26.87% completed
28.09% completed
29.31% completed
30.53% completed
31.75% completed
32.97% completed
34.19% completed
35.41% completed
36.63% completed
37.86% completed
39.08% completed
40.30% completed
41.52% completed
42.74% completed
43.96% completed
45.18% completed
46.40% completed
47.62% completed
48.85% completed
50.07% completed
51.29% completed
52.51% completed
53.73% completed
54.95% completed
56.17% completed
57.39% completed
58.62% completed
59.84% completed
61.06% completed
62.28% completed
63.50% completed
64.72% completed
65.94% completed
67.16% completed
68.38% completed
69.61% completed
70.83% completed
72.05% completed
73.27% completed
74.49% completed
75.71% completed
76.93% completed
78.15% completed
79.37% completed
80.60% completed
81.82% completed
83.04% completed
84.26% completed
85.48% completed
86.70% completed
87.92% completed
89.14% completed
90.37% completed
91.59% completed
92.81% completed
94.03% completed
95.25% completed
96.47% completed
97.69% completed
98.91% completed

In [20]:
#print location_list[0]


#checking_df = df.filter(df.address == "인천광역시 서구  왕길동").filter(df.detailed_address == "가-81-1")

#checking_df.show()
#print(checking_df.count())

                
location = sc.parallelize(location_list).toDF(['address','detailed_address','latitude','longitude'])
location.show()

+-----------------+----------------+----------+-----------+
|          address|detailed_address|  latitude|  longitude|
+-----------------+----------------+----------+-----------+
|  서울특별시 동대문구  이문동|          325-20|37.5944677|127.0593227|
|  서울특별시 서대문구  창천동|           29-81| 37.556057|126.9382413|
|   부산광역시 금정구  구서동|          192-11|35.2542948|129.0893518|
|   대전광역시 유성구  지족동|           863-2|36.3825628|127.3205555|
|  경기도 안산시 상록구  사동|          1197-4|37.3017055|126.8511012|
|부산광역시 기장군 기장읍 대라리|           500-6|35.2424389|129.2117922|
|  서울특별시 중구  의주로1가|            32-2|37.5643082| 126.968413|
|  경기도 평택시 안중읍 안중리|          252-33|36.9881887|126.9255043|
|경상남도 창원시 성산구  상남동|            11-6| 35.222296|128.6851114|
|      경기도 부천시  상동|           449-1|37.4899962|126.7565083|
|   서울특별시 강북구  수유동|            48-1|37.6344091|127.0228738|
|   인천광역시 남동구  만수동|             867|37.4603807|126.7289466|
|  경기도 화성시 남양읍 남양리|          1265-3|37.2101135|126.8181706|
|   서울특별시 강동구  암사동|           502-3|37.5509491|127.1269475|
| 경기도 수원시 영통구  이의동|            1330|37.2924897|127.0491615|
|   부산광역시 동래구  온천동|          151-22|  35.22181| 129.084597|
|   부산광역시 수영구  광안동|          372-13|35.1522973|129.1126209|
|   부산광역시 금정구  장전동|          364-24|35.2349315|129.0886999|
|  부산광역시 부산진구  부전동|           414-2| 35.160133|129.0539069|
|부산광역시 기장군 기장읍 동부리|           126-5|35.2465033|129.2145274|
+-----------------+----------------+----------+-----------+
only showing top 20 rows

In [21]:
location.count()

8189

In [22]:
# error : solution -> add duplicate columns(address, detailed address) to join
#new_df_id = new_df.withColumn('id', monotonically_increasing_id())
#new_df_id.show()
#new_df_id.count()
#new_df_id.filter(new_df_id.id == '10000').show()
#add_df.count()


#location_id = location.withColumn('id', row_number().over (Window.partitionBy().partitionBy(location['logitude']).orderBy(lit(1))))
#location_id.show()
#location_id.count()

#location_id.filter(location_id.id == '37777').show()


#add_df = new_df_id.select('address', 'detailed_address','id').join(location_id , new_df_id.id == location_id.id).drop(new_df_id.id)
#add_df.orderBy('id', ascending=True).show()
#add_df.count()

In [23]:
joined_df = added_date_df.join(location.select('address','detailed_address','latitude','longitude'), ['address','detailed_address'])

In [24]:
joined_df.show()
joined_df.count()

+----------------+----------------+----+-----+-----+---+----------+-----------+----+--------+----+-----+------------+-----+----------------------+-------------------+----------+-----------+
|         address|detailed_address|year|month|  day|_c0|build_year|trade_price|city|sub_city|dong| code|        name|floor|exclusive_private_area|               date|  latitude|  longitude|
+----------------+----------------+----+-----+-----+---+----------+-----------+----+--------+----+-----+------------+-----+----------------------+-------------------+----------+-----------+
|     경기도 부천시  상동|           449-1|2011|    4| 1~10| 99|      1996|      9,800| 경기도|     부천시|  상동|41190|     동아하이츠빌딩|    8|                 62.74|2011-04-01T00:00:00|37.4899962|126.7565083|
|     경기도 부천시  상동|           449-1|2012|    9| 1~10| 31|      1996|      9,000| 경기도|     부천시|  상동|41190|     동아하이츠빌딩|    9|                 62.74|2012-09-01T00:00:00|37.4899962|126.7565083|
|     경기도 부천시  상동|           449-1|2015|    3|21~31|144|      1996|      6,000| 경기도|     부천시|  상동|41190|     동아하이츠빌딩|    8|                 49.41|2015-03-21T00:00:00|37.4899962|126.7565083|
|     경기도 부천시  상동|           449-1|2015|    3|21~31|145|      1996|      3,800| 경기도|     부천시|  상동|41190|     동아하이츠빌딩|    8|                  32.4|2015-03-21T00:00:00|37.4899962|126.7565083|
|     경기도 부천시  상동|           449-1|2015|   11|11~20| 94|      1996|      6,500| 경기도|     부천시|  상동|41190|     동아하이츠빌딩|    9|                 57.35|2015-11-11T00:00:00|37.4899962|126.7565083|
|     경기도 부천시  상동|           449-1|2015|   11|11~20| 95|      1996|      8,500| 경기도|     부천시|  상동|41190|     동아하이츠빌딩|    9|                 78.96|2015-11-11T00:00:00|37.4899962|126.7565083|
|    경기도 부천시  심곡동|          373-11|2017|    5|11~20|  3|      2014|     18,000| 경기도|     부천시| 심곡동|41190|       스타파크빌|    3|                 75.91|2017-05-11T00:00:00| 37.490205|126.7814637|
|경기도 수원시 영통구  이의동|            1330|2013|    5| 1~10|  0|      2012|     14,099| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    9|                 29.87|2013-05-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|  3|      2012|      8,500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|  4|      2012|      8,500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|  5|      2012|      8,500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|  6|      2012|      8,500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    6|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|  7|      2012|      8,500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|  8|      2012|      8,500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|  9|      2012|      8,500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.87|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31| 10|      2012|      8,500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    4|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31| 11|      2012|      8,500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31| 12|      2012|      8,200| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    9|                 28.96|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31| 13|      2012|      8,200| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 28.96|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31| 14|      2012|      8,200| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    4|                 28.96|2014-05-21T00:00:00|37.2924897|127.0491615|
+----------------+----------------+----+-----+-----+---+----------+-----------+----+--------+----+-----+------------+-----+----------------------+-------------------+----------+-----------+
only showing top 20 rows

349140

In [25]:
drop_index_df = joined_df.drop("_c0")
drop_index_df.show()
drop_index_df.count()

+----------------+----------------+----+-----+-----+----------+-----------+----+--------+----+-----+------------+-----+----------------------+-------------------+----------+-----------+
|         address|detailed_address|year|month|  day|build_year|trade_price|city|sub_city|dong| code|        name|floor|exclusive_private_area|               date|  latitude|  longitude|
+----------------+----------------+----+-----+-----+----------+-----------+----+--------+----+-----+------------+-----+----------------------+-------------------+----------+-----------+
|     경기도 부천시  상동|           449-1|2011|    4| 1~10|      1996|      9,800| 경기도|     부천시|  상동|41190|     동아하이츠빌딩|    8|                 62.74|2011-04-01T00:00:00|37.4899962|126.7565083|
|     경기도 부천시  상동|           449-1|2012|    9| 1~10|      1996|      9,000| 경기도|     부천시|  상동|41190|     동아하이츠빌딩|    9|                 62.74|2012-09-01T00:00:00|37.4899962|126.7565083|
|     경기도 부천시  상동|           449-1|2015|    3|21~31|      1996|      6,000| 경기도|     부천시|  상동|41190|     동아하이츠빌딩|    8|                 49.41|2015-03-21T00:00:00|37.4899962|126.7565083|
|     경기도 부천시  상동|           449-1|2015|    3|21~31|      1996|      3,800| 경기도|     부천시|  상동|41190|     동아하이츠빌딩|    8|                  32.4|2015-03-21T00:00:00|37.4899962|126.7565083|
|     경기도 부천시  상동|           449-1|2015|   11|11~20|      1996|      6,500| 경기도|     부천시|  상동|41190|     동아하이츠빌딩|    9|                 57.35|2015-11-11T00:00:00|37.4899962|126.7565083|
|     경기도 부천시  상동|           449-1|2015|   11|11~20|      1996|      8,500| 경기도|     부천시|  상동|41190|     동아하이츠빌딩|    9|                 78.96|2015-11-11T00:00:00|37.4899962|126.7565083|
|    경기도 부천시  심곡동|          373-11|2017|    5|11~20|      2014|     18,000| 경기도|     부천시| 심곡동|41190|       스타파크빌|    3|                 75.91|2017-05-11T00:00:00| 37.490205|126.7814637|
|경기도 수원시 영통구  이의동|            1330|2013|    5| 1~10|      2012|     14,099| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    9|                 29.87|2013-05-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|      8,500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|      8,500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|      8,500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|      8,500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    6|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|      8,500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|      8,500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|      8,500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.87|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|      8,500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    4|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|      8,500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|      8,200| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    9|                 28.96|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|      8,200| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 28.96|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|      8,200| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    4|                 28.96|2014-05-21T00:00:00|37.2924897|127.0491615|
+----------------+----------------+----+-----+-----+----------+-----------+----+--------+----+-----+------------+-----+----------------------+-------------------+----------+-----------+
only showing top 20 rows

349140

In [27]:
final_apartment_df = drop_index_df.na.drop()
final_apartment_df = final_apartment_df.withColumn('trade_price',regexp_replace('trade_price',"\\,", ""))
final_apartment_df.show()
final_apartment_df.count()

+----------------+----------------+----+-----+-----+----------+-----------+----+--------+----+-----+------------+-----+----------------------+-------------------+----------+-----------+
|         address|detailed_address|year|month|  day|build_year|trade_price|city|sub_city|dong| code|        name|floor|exclusive_private_area|               date|  latitude|  longitude|
+----------------+----------------+----+-----+-----+----------+-----------+----+--------+----+-----+------------+-----+----------------------+-------------------+----------+-----------+
|     경기도 부천시  상동|           449-1|2011|    4| 1~10|      1996|       9800| 경기도|     부천시|  상동|41190|     동아하이츠빌딩|    8|                 62.74|2011-04-01T00:00:00|37.4899962|126.7565083|
|     경기도 부천시  상동|           449-1|2012|    9| 1~10|      1996|       9000| 경기도|     부천시|  상동|41190|     동아하이츠빌딩|    9|                 62.74|2012-09-01T00:00:00|37.4899962|126.7565083|
|     경기도 부천시  상동|           449-1|2015|    3|21~31|      1996|       6000| 경기도|     부천시|  상동|41190|     동아하이츠빌딩|    8|                 49.41|2015-03-21T00:00:00|37.4899962|126.7565083|
|     경기도 부천시  상동|           449-1|2015|    3|21~31|      1996|       3800| 경기도|     부천시|  상동|41190|     동아하이츠빌딩|    8|                  32.4|2015-03-21T00:00:00|37.4899962|126.7565083|
|     경기도 부천시  상동|           449-1|2015|   11|11~20|      1996|       6500| 경기도|     부천시|  상동|41190|     동아하이츠빌딩|    9|                 57.35|2015-11-11T00:00:00|37.4899962|126.7565083|
|     경기도 부천시  상동|           449-1|2015|   11|11~20|      1996|       8500| 경기도|     부천시|  상동|41190|     동아하이츠빌딩|    9|                 78.96|2015-11-11T00:00:00|37.4899962|126.7565083|
|    경기도 부천시  심곡동|          373-11|2017|    5|11~20|      2014|      18000| 경기도|     부천시| 심곡동|41190|       스타파크빌|    3|                 75.91|2017-05-11T00:00:00| 37.490205|126.7814637|
|경기도 수원시 영통구  이의동|            1330|2013|    5| 1~10|      2012|      14099| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    9|                 29.87|2013-05-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|       8500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|       8500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|       8500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|       8500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    6|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|       8500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|       8500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|       8500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.87|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|       8500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    4|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|       8500| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|       8200| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    9|                 28.96|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|       8200| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 28.96|2014-05-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2014|    5|21~31|      2012|       8200| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    4|                 28.96|2014-05-21T00:00:00|37.2924897|127.0491615|
+----------------+----------------+----+-----+-----+----------+-----------+----+--------+----+-----+------------+-----+----------------------+-------------------+----------+-----------+
only showing top 20 rows

349114

In [32]:
final_apartment_df.write.csv("final_apartment_trade")

AnalysisException: u'path file:/home/project/final_office_trade already exists.;'