In [1]:
#-*- coding: utf-8 -*-
#import sys 
#reload(sys)
#sys.setdefaultencoding('utf-8')

import requests
from pprint import pprint

In [2]:
# kakao api
APP_KEY = "${API_KEY}"
kakao_url = "https://dapi.kakao.com/v2/local/search/address.json"
kakao_headers = {"Authorization" : "KakaoAK {}".format(APP_KEY)}

# naver api
client_id = "${CLIENT_ID}"
client_secret = "${CLIENT_SECRET}"
naver_url = "https://openapi.naver.com/v1/map/geocode" 
naver_headers = {"X-Naver-Client-Id" : "{}".format(client_id) , "X-Naver-Client-Secret": "{}".format(client_secret)}

In [3]:
def kakao_req(params, method):
#     print('HTTP Method: %s' % method)
#     print('Request URL: %s' % kakao_url)
#     print('Headers: %s' % kakao_headers)
#     print('QueryString: %s' % params)

    if method == 'GET':
        return requests.get(kakao_url, headers=kakao_headers, params=params)
    
def naver_req(params, method):
#     print('HTTP Method: %s' % method)
#     print('Request URL: %s' % naver_url)
#     print('Headers: %s' % naver_headers)
#     print('QueryString: %s' % params)
    
    if method == 'GET':
        return requests.get(naver_url, headers=naver_headers, params=params)

In [4]:
def get_location(address):

    params = {"query": "{}".format(address)}

    response = naver_req(params, 'GET')
        

#    #kakao parsing
#     pprint(data['meta']['total_count'])
#     pprint(data["documents"][0]["x"])
#     pprint(data["documents"][0]["y"])
    
        
    return response

In [5]:
import findspark
findspark.init()
import pyspark
import os
import numpy as np

In [6]:
#sc = pyspark.SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

In [7]:
basic_folder = '/home/project/real_estate/data/office_rent_data/'

file_list = os.listdir(basic_folder)
path_list=[]
for file in file_list:
    print(file)
    path_list.append(basic_folder + file)
    
print(path_list)

office_rent_201312.csv
office_rent_201802.csv
office_rent_201410.csv
office_rent_201210.csv
office_rent_201109.csv
office_rent_201302.csv
office_rent_201602.csv
office_rent_201607.csv
office_rent_201505.csv
office_rent_201407.csv
office_rent_201104.csv
office_rent_201403.csv
office_rent_201503.csv
office_rent_201107.csv
office_rent_201611.csv
office_rent_201806.csv
office_rent_201702.csv
office_rent_201509.csv
office_rent_201103.csv
office_rent_201710.csv
office_rent_201101.csv
office_rent_201405.csv
office_rent_201801.csv
office_rent_201310.csv
office_rent_201501.csv
office_rent_201510.csv
office_rent_201409.csv
office_rent_201106.csv
office_rent_201804.csv
office_rent_201201.csv
office_rent_201601.csv
office_rent_201603.csv
office_rent_201707.csv
office_rent_201507.csv
office_rent_201610.csv
office_rent_201307.csv
office_rent_201108.csv
office_rent_201412.csv
office_rent_201411.csv
office_rent_201709.csv
office_rent_201202.csv
office_rent_201605.csv
office_rent_2017012.csv
office_rent_201406.csv
office_rent_201111.csv
office_rent_201308.csv
office_rent_201105.csv
office_rent_201211.csv
office_rent_201502.csv
office_rent_201609.csv
office_rent_201212.csv
office_rent_201512.csv
office_rent_201803.csv
office_rent_201402.csv
office_rent_201506.csv
office_rent_201303.csv
office_rent_201712.csv
office_rent_201704.csv
office_rent_201404.csv
office_rent_201207.csv
office_rent_201204.csv
office_rent_201203.csv
office_rent_201701.csv
office_rent_201309.csv
office_rent_201102.csv
office_rent_201205.csv
office_rent_201208.csv
office_rent_201306.csv
office_rent_201706.csv
office_rent_201708.csv
office_rent_201401.csv
office_rent_201112.csv
office_rent_201606.csv
office_rent_201209.csv
office_rent_201711.csv
office_rent_201110.csv
office_rent_201703.csv
office_rent_201408.csv
office_rent_201305.csv
office_rent_201304.csv
office_rent_201311.csv
office_rent_201508.csv
office_rent_201604.csv
office_rent_201511.csv
office_rent_201612.csv
office_rent_201805.csv
office_rent_201504.csv
office_rent_201608.csv
office_rent_201301.csv
office_rent_201705.csv
office_rent_201206.csv
['/home/project/real_estate/data/office_rent_data/office_rent_201312.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201802.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201410.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201210.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201109.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201302.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201602.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201607.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201505.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201407.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201104.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201403.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201503.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201107.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201611.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201806.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201702.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201509.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201103.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201710.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201101.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201405.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201801.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201310.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201501.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201510.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201409.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201106.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201804.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201201.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201601.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201603.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201707.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201507.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201610.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201307.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201108.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201412.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201411.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201709.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201202.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201605.csv', '/home/project/real_estate/data/office_rent_data/office_rent_2017012.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201406.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201111.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201308.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201105.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201211.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201502.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201609.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201212.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201512.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201803.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201402.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201506.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201303.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201712.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201704.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201404.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201207.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201204.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201203.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201701.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201309.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201102.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201205.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201208.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201306.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201706.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201708.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201401.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201112.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201606.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201209.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201711.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201110.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201703.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201408.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201305.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201304.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201311.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201508.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201604.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201511.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201612.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201805.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201504.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201608.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201301.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201705.csv', '/home/project/real_estate/data/office_rent_data/office_rent_201206.csv']

In [8]:
df = sqlContext.read.format("com.databricks.spark.csv") \
    .option("header", "true").option("inferSchema", "true").load(path_list)

In [9]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- build_year: integer (nullable = true)
 |-- deposit: string (nullable = true)
 |-- rental_fee: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: string (nullable = true)
 |-- city: string (nullable = true)
 |-- sub_city: string (nullable = true)
 |-- dong: string (nullable = true)
 |-- code: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- floor: integer (nullable = true)
 |-- exclusive_private_area: double (nullable = true)
 |-- address: string (nullable = true)
 |-- detailed_address: string (nullable = true)

In [10]:
df.show()
df.count()

+---+----------+-------+----------+----+-----+-----+-----+--------+----+-----+------------+-----+----------------------+--------------+----------------+
|_c0|build_year|deposit|rental_fee|year|month|  day| city|sub_city|dong| code|        name|floor|exclusive_private_area|       address|detailed_address|
+---+----------+-------+----------+----+-----+-----+-----+--------+----+-----+------------+-----+----------------------+--------------+----------------+
|  0|      2004| 17,000|         0|2018|    1| 1~10|서울특별시|     종로구| 내수동|11110|       광화문시대|   16|                 48.86|서울특별시 종로구  내수동|              74|
|  1|      2004| 25,000|         0|2018|    1| 1~10|서울특별시|     종로구| 내수동|11110| 경희궁의 아침 3단지|   10|                  37.5|서울특별시 종로구  내수동|              72|
|  2|      2004|  1,000|        90|2018|    1| 1~10|서울특별시|     종로구| 내수동|11110|       용비어천가|   16|                 37.56|서울특별시 종로구  내수동|              75|
|  3|      2004| 22,000|         0|2018|    1| 1~10|서울특별시|     종로구| 내수동|11110|       용비어천가|   13|                 37.56|서울특별시 종로구  내수동|              75|
|  4|      2004|  1,000|        85|2018|    1|11~20|서울특별시|     종로구| 내수동|11110| 경희궁의 아침 3단지|    7|                  37.5|서울특별시 종로구  내수동|              72|
|  5|      2004|  1,000|        70|2018|    1|11~20|서울특별시|     종로구| 내수동|11110| 경희궁의 아침 2단지|   11|                 25.51|서울특별시 종로구  내수동|              71|
|  6|      2004|  5,000|        80|2018|    1|11~20|서울특별시|     종로구| 내수동|11110| 경희궁의 아침 4단지|    4|                 41.74|서울특별시 종로구  내수동|              73|
|  7|      2004| 10,000|        75|2018|    1|21~31|서울특별시|     종로구| 내수동|11110|       용비어천가|   11|                 45.98|서울특별시 종로구  내수동|              75|
|  8|      2004| 10,000|        50|2018|    1|21~31|서울특별시|     종로구| 내수동|11110|       용비어천가|   11|                  33.0|서울특별시 종로구  내수동|              75|
|  9|      2004| 40,000|         0|2018|    1| 1~10|서울특별시|     종로구| 수송동|11110|    두산위브파빌리온|   10|                 35.22|서울특별시 종로구  수송동|              58|
| 10|      2004|  5,000|        65|2018|    1|21~31|서울특별시|     종로구| 수송동|11110|    두산위브파빌리온|    4|                 72.21|서울특별시 종로구  수송동|              58|
| 11|      2005| 21,000|         0|2018|    1|21~31|서울특별시|     종로구| 경운동|11110| 운현궁 에스케이 허브|    7|                 41.34|서울특별시 종로구  경운동|            89-4|
| 12|      2005|  1,000|        75|2018|    1| 1~10|서울특별시|     종로구| 관철동|11110|       종로1번가|    9|                 23.98|서울특별시 종로구  관철동|             155|
| 13|      2015|  1,000|        65|2018|    1| 1~10|서울특별시|     종로구| 연지동|11110|       아르젠종로|    8|                 18.33|서울특별시 종로구  연지동|           163-3|
| 14|      2015|  3,000|        55|2018|    1|21~31|서울특별시|     종로구| 연지동|11110|       아르젠종로|    8|                 15.76|서울특별시 종로구  연지동|           163-3|
| 15|      2017|  1,000|        60|2018|    1| 1~10|서울특별시|     종로구| 효제동|11110|     포레스트힐시티|    5|                 19.34|서울특별시 종로구  효제동|            65-2|
| 16|      2017| 17,000|         0|2018|    1|11~20|서울특별시|     종로구| 효제동|11110|     포레스트힐시티|    3|                 23.24|서울특별시 종로구  효제동|            65-2|
| 17|      2003|  1,000|        70|2018|    1|11~20|서울특별시|     종로구| 효제동|11110|반도 보라 아이비 타워|    7|                  30.7|서울특별시 종로구  효제동|              45|
| 18|      2003|  1,000|        65|2018|    1|11~20|서울특별시|     종로구| 효제동|11110|반도 보라 아이비 타워|    7|                 27.58|서울특별시 종로구  효제동|              45|
| 19|      2003|  1,000|        70|2018|    1|21~31|서울특별시|     종로구| 효제동|11110|반도 보라 아이비 타워|    4|                  30.7|서울특별시 종로구  효제동|              45|
+---+----------+-------+----------+----+-----+-----+-----+--------+----+-----+------------+-----+----------------------+--------------+----------------+
only showing top 20 rows

390185

In [11]:
#filter_df = df.filter((df["detailed_address"] == "") | df["detailed_address"].isNull() | isnan(df["detailed_address"]))
#filter_df.show()
#filter_df.count() == 36

filter_df = df.na.drop()

In [12]:
from pyspark.sql.functions import *

In [13]:
unique_date_df = filter_df.groupBy(filter_df.year,filter_df.month, filter_df.day).agg(count("day").alias('count'))

unique_date_list = unique_date_df.collect()

new_date_list = []

for unique_date in unique_date_list:
    if unique_date[1] < 10 :
        if int(unique_date[2].split('~')[0]) < 10 : 
            date = str(unique_date[0]) + '-' + '0' + str(unique_date[1]) + '-' + '0' +unique_date[2].split('~')[0] + 'T' + "00:00:00"
        else:
            date = str(unique_date[0]) + '-' + '0' + str(unique_date[1]) + '-' +unique_date[2].split('~')[0] + 'T' + "00:00:00"
        
    else:
        if int(unique_date[2].split('~')[0]) < 10 : 
            date = str(unique_date[0]) + '-' + str(unique_date[1]) + '-' + '0' +unique_date[2].split('~')[0] + 'T' + "00:00:00"
    
        else:
            date = str(unique_date[0]) + '-' + str(unique_date[1]) + '-' +unique_date[2].split('~')[0] + 'T' + "00:00:00"
    
    
    new_date_list.append([unique_date[0], unique_date[1],unique_date[2],date])
    
    
unique_date_df = sc.parallelize(new_date_list).toDF(['year','month','day','date'])

In [14]:
added_date_df = filter_df.join(unique_date_df, ['year','month','day']).sort('date')
added_date_df.show()
added_date_df.count()

+----+-----+----+---+----------+-------+----------+-----+--------+------+-----+------------+-----+----------------------+----------------+----------------+-------------------+
|year|month| day|_c0|build_year|deposit|rental_fee| city|sub_city|  dong| code|        name|floor|exclusive_private_area|         address|detailed_address|               date|
+----+-----+----+---+----------+-------+----------+-----+--------+------+-----+------------+-----+----------------------+----------------+----------------+-------------------+
|2011|    1|1~10| 23|      2005|    500|        65|서울특별시|     성동구| 성수동1가|11200|       뚝섬리버빌|   10|                 26.73|서울특별시 성동구  성수동1가|          13-117|2011-01-01T00:00:00|
|2011|    1|1~10|  9|      1998|  1,000|        65|서울특별시|     성동구|   도선동|11200|       신한넥스텔|    6|                 44.86|  서울특별시 성동구  도선동|              14|2011-01-01T00:00:00|
|2011|    1|1~10| 22|      2004| 10,000|         0|서울특별시|     성동구| 성수동1가|11200|      성수 그린빌|    4|                 34.59|서울특별시 성동구  성수동1가|          685-54|2011-01-01T00:00:00|
|2011|    1|1~10|  4|      2006|  9,000|         0|서울특별시|      중구|   신당동|11140|  	(340-73)	|    7|                  35.6|   서울특별시 중구  신당동|          340-73|2011-01-01T00:00:00|
|2011|    1|1~10|  8|      2009| 10,000|         0|서울특별시|     성동구|   도선동|11200|       다남매타워|    9|                 37.52|  서울특별시 성동구  도선동|            22-1|2011-01-01T00:00:00|
|2011|    1|1~10| 18|      2004| 13,000|         0|서울특별시|     성동구| 성수동1가|11200|  이에스에이리버하우스|    3|                 39.15|서울특별시 성동구  성수동1가|           13-12|2011-01-01T00:00:00|
|2011|    1|1~10| 21|      2003|  5,000|        35|서울특별시|     성동구| 성수동1가|11200| 성수동 뉴타운오피스텔|    6|                  31.6|서울특별시 성동구  성수동1가|           72-69|2011-01-01T00:00:00|
|2011|    1|1~10|  7|      2004|  1,000|        60|서울특별시|     종로구|   낙원동|11110|         나스빌|    8|                 28.58|  서울특별시 종로구  낙원동|             212|2011-01-01T00:00:00|
|2011|    1|1~10|  3|      2005|  4,000|        20|서울특별시|      중구| 광희동2가|11140|      성진오피스텔|    3|                  22.8| 서울특별시 중구  광희동2가|           194-1|2011-01-01T00:00:00|
|2011|    1|1~10|  1|      2004| 12,000|         0|서울특별시|     용산구|   서계동|11170| 서울역풍림아이원플러스|   10|                 28.11|  서울특별시 용산구  서계동|          219-17|2011-01-01T00:00:00|
|2011|    1|1~10|  5|      2005|  1,000|        65|서울특별시|     성동구| 하왕십리동|11200| 동인 레반트 오피스텔|   10|                 27.54|서울특별시 성동구  하왕십리동|           903-3|2011-01-01T00:00:00|
|2011|    1|1~10| 12|      2006|  5,000|        55|서울특별시|     성동구|   행당동|11200|    왕십리역이스타빌|   13|                 29.43|  서울특별시 성동구  행당동|          287-15|2011-01-01T00:00:00|
|2011|    1|1~10| 13|      2006|  5,000|        50|서울특별시|     성동구|   행당동|11200|    왕십리역이스타빌|   13|                 29.43|  서울특별시 성동구  행당동|          287-15|2011-01-01T00:00:00|
|2011|    1|1~10| 19|      2004| 13,000|         0|서울특별시|     성동구| 성수동1가|11200|  이에스에이리버하우스|    8|                 39.15|서울특별시 성동구  성수동1가|           13-12|2011-01-01T00:00:00|
|2011|    1|1~10| 20|      2005|  8,500|         0|서울특별시|     성동구| 성수동1가|11200|       뚝섬리버빌|    8|                 26.26|서울특별시 성동구  성수동1가|          13-117|2011-01-01T00:00:00|
|2011|    1|1~10|  1|      2004| 14,000|         0|서울특별시|     종로구|   내수동|11110|       광화문시대|   16|                 30.08|  서울특별시 종로구  내수동|              74|2011-01-01T00:00:00|
|2011|    1|1~10|  4|      2007| 18,000|         0|서울특별시|     종로구|  종로1가|11110|  르메이에르종로타운1|    9|                 56.64| 서울특별시 종로구  종로1가|              24|2011-01-01T00:00:00|
|2011|    1|1~10|  1|      2009|  1,000|        10|서울특별시|      중구| 장충동2가|11140|       아도라타워|    7|                  49.8| 서울특별시 중구  장충동2가|           173-2|2011-01-01T00:00:00|
|2011|    1|1~10|  2|      1999|    500|        40|서울특별시|      중구| 광희동1가|11140|광희동금호트윈 오피스텔|   10|                  19.8| 서울특별시 중구  광희동1가|            89-1|2011-01-01T00:00:00|
|2011|    1|1~10|  5|      2004|  3,000|        40|서울특별시|      중구|   신당동|11140|      JK오피스텔|    4|                 22.75|   서울특별시 중구  신당동|          353-22|2011-01-01T00:00:00|
+----+-----+----+---+----------+-------+----------+-----+--------+------+-----+------------+-----+----------------------+----------------+----------------+-------------------+
only showing top 20 rows

380095

In [15]:
new_df = added_date_df.groupBy(added_date_df.address,added_date_df.detailed_address).agg(count("detailed_address").alias("count"))
new_df.show()
new_df.count()

+-----------------+----------------+-----+
|          address|detailed_address|count|
+-----------------+----------------+-----+
|   대전광역시 유성구  지족동|           863-2|  164|
|  경기도 평택시 안중읍 안중리|          252-33|   36|
|  경기도 화성시 남양읍 남양리|          1265-3|    5|
|   부산광역시 금정구  장전동|          364-24|   10|
|   부산광역시 금정구  장전동|          227-12|   29|
|  경기도 안산시 상록구  사동|          1197-4|   83|
|     경기도 이천시  중리동|           211-8|    6|
|경상남도 창원시 성산구  상남동|            11-6|    2|
|    인천광역시 남구  도화동|            90-2|   15|
|  서울특별시 동대문구  이문동|          325-20|   65|
|부산광역시 기장군 기장읍 대라리|           500-6|   13|
|  서울특별시 서대문구  창천동|           29-81|   35|
|   서울특별시 강북구  수유동|            48-1|  175|
|   서울특별시 강동구  암사동|           502-3|   16|
| 경기도 수원시 영통구  이의동|            1330|  364|
|   대구광역시 달서구  두류동|           150-9|    5|
|   부산광역시 금정구  구서동|          192-11|   13|
|  부산광역시 부산진구  부전동|           414-2|   20|
|   인천광역시 남동구  만수동|             867|    3|
|   서울특별시 은평구  불광동|           319-8|   14|
+-----------------+----------------+-----+
only showing top 20 rows

9480

In [16]:
sum = new_df.select(sum("count"))

In [17]:
sum.show()

+----------+
|sum(count)|
+----------+
|    380095|
+----------+

In [18]:
unique_address_list = new_df.collect()
print unique_address_list[0][0]

대전광역시 유성구  지족동

In [19]:
location_list = []

# checking why no result data
# response = get_location("경상북도 영천시 신령면 완전리") -> 신녕면
# print response.status_code
# data = response.json()
# print data

index = 1.0;
length = len(unique_address_list)
count = 0;

print length 

for address in unique_address_list:    
    full_address = (address[0] + " " + address[1]).encode('utf8')
    #print str("full " + full_address)
    response = get_location(full_address)

    if response.status_code == 200 :
        
        data = response.json()
        
        
        x = data['result']['items'][0]['point']['x']
        y = data['result']['items'][0]['point']['y']
    
        location_list.append([address[0],address[1],y,x])
        
    else: 
        print str("error address: " + full_address)
        count += 1
        print count
        
        location_list.append([address[0],address[1] ,np.nan,np.nan])
    
    if(index % 100 == 0):
        print ("%0.2f" % (index / length * 100.0)) + "% completed"
        
    index += 1.0

9480
1.05% completed
2.11% completed
3.16% completed
4.22% completed
5.27% completed
6.33% completed
7.38% completed
8.44% completed
9.49% completed
error address: 부산광역시 금정구  장전동 74-93
1
10.55% completed
11.60% completed
error address: 서울특별시 관악구  봉천동 863-6
2
12.66% completed
13.71% completed
14.77% completed
15.82% completed
16.88% completed
17.93% completed
18.99% completed
20.04% completed
21.10% completed
22.15% completed
23.21% completed
24.26% completed
25.32% completed
26.37% completed
27.43% completed
28.48% completed
29.54% completed
30.59% completed
31.65% completed
32.70% completed
33.76% completed
34.81% completed
35.86% completed
36.92% completed
37.97% completed
39.03% completed
40.08% completed
41.14% completed
42.19% completed
43.25% completed
44.30% completed
45.36% completed
46.41% completed
47.47% completed
48.52% completed
49.58% completed
50.63% completed
51.69% completed
52.74% completed
53.80% completed
54.85% completed
55.91% completed
56.96% completed
58.02% completed
59.07% completed
60.13% completed
61.18% completed
62.24% completed
63.29% completed
64.35% completed
65.40% completed
66.46% completed
67.51% completed
68.57% completed
69.62% completed
70.68% completed
71.73% completed
72.78% completed
73.84% completed
74.89% completed
75.95% completed
77.00% completed
78.06% completed
79.11% completed
80.17% completed
81.22% completed
82.28% completed
83.33% completed
84.39% completed
85.44% completed
86.50% completed
87.55% completed
88.61% completed
89.66% completed
error address: 충청남도 천안시 서북구  두정동 1043
3
90.72% completed
error address: 충청북도 청주시 상당구  남문로1가동 180-2
4
91.77% completed
92.83% completed
93.88% completed
94.94% completed
95.99% completed
97.05% completed
98.10% completed
99.16% completed

In [20]:
#print location_list[0]


#checking_df = df.filter(df.address == "인천광역시 서구  왕길동").filter(df.detailed_address == "가-81-1")

#checking_df.show()
#print(checking_df.count())

                
location = sc.parallelize(location_list).toDF(['address','detailed_address','latitude','longitude'])
location.show()

+-----------------+----------------+----------+-----------+
|          address|detailed_address|  latitude|  longitude|
+-----------------+----------------+----------+-----------+
|   대전광역시 유성구  지족동|           863-2|36.3825628|127.3205555|
|  경기도 평택시 안중읍 안중리|          252-33|36.9881887|126.9255043|
|  경기도 화성시 남양읍 남양리|          1265-3|37.2101135|126.8181706|
|   부산광역시 금정구  장전동|          364-24|35.2349315|129.0886999|
|   부산광역시 금정구  장전동|          227-12|35.2372391| 129.087994|
|  경기도 안산시 상록구  사동|          1197-4|37.3017055|126.8511012|
|     경기도 이천시  중리동|           211-8|37.2784762| 127.444716|
|경상남도 창원시 성산구  상남동|            11-6| 35.222296|128.6851114|
|    인천광역시 남구  도화동|            90-2|37.4677795|126.6593777|
|  서울특별시 동대문구  이문동|          325-20|37.5944677|127.0593227|
|부산광역시 기장군 기장읍 대라리|           500-6|35.2424389|129.2117922|
|  서울특별시 서대문구  창천동|           29-81| 37.556057|126.9382413|
|   서울특별시 강북구  수유동|            48-1|37.6344091|127.0228738|
|   서울특별시 강동구  암사동|           502-3|37.5509491|127.1269475|
| 경기도 수원시 영통구  이의동|            1330|37.2924897|127.0491615|
|   대구광역시 달서구  두류동|           150-9|35.8578449|128.5597582|
|   부산광역시 금정구  구서동|          192-11|35.2542948|129.0893518|
|  부산광역시 부산진구  부전동|           414-2| 35.160133|129.0539069|
|   인천광역시 남동구  만수동|             867|37.4603807|126.7289466|
|   서울특별시 은평구  불광동|           319-8| 37.619961|126.9241778|
+-----------------+----------------+----------+-----------+
only showing top 20 rows

In [21]:
location.count()

9480

In [22]:
# error 
#new_df_id = new_df.withColumn('id', monotonically_increasing_id())
#new_df_id.show()
#new_df_id.count()
#new_df_id.filter(new_df_id.id == '10000').show()
#add_df.count()


#location_id = location.withColumn('id', row_number().over (Window.partitionBy().partitionBy(location['logitude']).orderBy(lit(1))))
#location_id.show()
#location_id.count()

#location_id.filter(location_id.id == '37777').show()


#add_df = new_df_id.select('address', 'detailed_address','id').join(location_id , new_df_id.id == location_id.id).drop(new_df_id.id)
#add_df.orderBy('id', ascending=True).show()
#add_df.count()

In [23]:
joined_df = added_date_df.join(location.select('address','detailed_address','latitude','longitude'), ['address','detailed_address'])

In [24]:
joined_df.show()
joined_df.count()

+----------------+----------------+----+-----+-----+---+----------+-------+----------+----+--------+----+-----+------------+-----+----------------------+-------------------+----------+-----------+
|         address|detailed_address|year|month|  day|_c0|build_year|deposit|rental_fee|city|sub_city|dong| code|        name|floor|exclusive_private_area|               date|  latitude|  longitude|
+----------------+----------------+----+-----+-----+---+----------+-------+----------+----+--------+----+-----+------------+-----+----------------------+-------------------+----------+-----------+
|경기도 수원시 영통구  이의동|            1330|2012|   11| 1~10|  1|      2012|    500|        55| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 28.96|2012-11-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1| 1~10|  1|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   12|                 28.96|2013-01-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1| 1~10|  3|      2012|  7,500|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 29.87|2013-01-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|11~20|  6|      2012|  8,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   12|                 29.85|2013-01-11T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|11~20|  7|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   12|                 29.85|2013-01-11T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|11~20|  8|      2012|    500|        55| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    9|                 29.87|2013-01-11T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|11~20|  9|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   10|                 28.96|2013-01-11T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|11~20| 10|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   12|                 28.96|2013-01-11T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|21~31| 15|      2012| 12,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   11|                 48.56|2013-01-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|21~31| 16|      2012|  1,000|        45| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 29.85|2013-01-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|21~31| 17|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   10|                 28.96|2013-01-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|21~31| 18|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 28.96|2013-01-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|21~31| 22|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2013-01-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|21~31| 23|      2012|  6,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    4|                 29.85|2013-01-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    2| 1~10|  2|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    6|                 29.85|2013-02-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    2| 1~10|  4|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 28.96|2013-02-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    2| 1~10|  5|      2012|    500|        45| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 29.85|2013-02-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    2| 1~10|  6|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    9|                 28.96|2013-02-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    2| 1~10|  7|      2012|    500|        88| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 48.56|2013-02-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    2|11~20| 11|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    9|                 28.96|2013-02-11T00:00:00|37.2924897|127.0491615|
+----------------+----------------+----+-----+-----+---+----------+-------+----------+----+--------+----+-----+------------+-----+----------------------+-------------------+----------+-----------+
only showing top 20 rows

380095

In [25]:
drop_index_df = joined_df.drop("_c0")
drop_index_df.show()
drop_index_df.count()

+----------------+----------------+----+-----+-----+----------+-------+----------+----+--------+----+-----+------------+-----+----------------------+-------------------+----------+-----------+
|         address|detailed_address|year|month|  day|build_year|deposit|rental_fee|city|sub_city|dong| code|        name|floor|exclusive_private_area|               date|  latitude|  longitude|
+----------------+----------------+----+-----+-----+----------+-------+----------+----+--------+----+-----+------------+-----+----------------------+-------------------+----------+-----------+
|경기도 수원시 영통구  이의동|            1330|2012|   11| 1~10|      2012|    500|        55| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 28.96|2012-11-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1| 1~10|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   12|                 28.96|2013-01-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1| 1~10|      2012|  7,500|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 29.87|2013-01-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|11~20|      2012|  8,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   12|                 29.85|2013-01-11T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|11~20|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   12|                 29.85|2013-01-11T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|11~20|      2012|    500|        55| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    9|                 29.87|2013-01-11T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|11~20|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   10|                 28.96|2013-01-11T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|11~20|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   12|                 28.96|2013-01-11T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|21~31|      2012| 12,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   11|                 48.56|2013-01-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|21~31|      2012|  1,000|        45| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 29.85|2013-01-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|21~31|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   10|                 28.96|2013-01-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|21~31|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 28.96|2013-01-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|21~31|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2013-01-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|21~31|      2012|  6,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    4|                 29.85|2013-01-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    2| 1~10|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    6|                 29.85|2013-02-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    2| 1~10|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 28.96|2013-02-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    2| 1~10|      2012|    500|        45| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 29.85|2013-02-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    2| 1~10|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    9|                 28.96|2013-02-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    2| 1~10|      2012|    500|        88| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 48.56|2013-02-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    2|11~20|      2012|  7,000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    9|                 28.96|2013-02-11T00:00:00|37.2924897|127.0491615|
+----------------+----------------+----+-----+-----+----------+-------+----------+----+--------+----+-----+------------+-----+----------------------+-------------------+----------+-----------+
only showing top 20 rows

380095

In [26]:
final_office_df = drop_index_df.na.drop()
final_office_df = final_office_df.withColumn('deposit',regexp_replace('deposit',"\\,", "")).withColumn('rental_fee',regexp_replace('rental_fee',"\\,", ""))
final_office_df.show()
final_office_df.count()

+----------------+----------------+----+-----+-----+----------+-------+----------+----+--------+----+-----+------------+-----+----------------------+-------------------+----------+-----------+
|         address|detailed_address|year|month|  day|build_year|deposit|rental_fee|city|sub_city|dong| code|        name|floor|exclusive_private_area|               date|  latitude|  longitude|
+----------------+----------------+----+-----+-----+----------+-------+----------+----+--------+----+-----+------------+-----+----------------------+-------------------+----------+-----------+
|경기도 수원시 영통구  이의동|            1330|2012|   11| 1~10|      2012|    500|        55| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 28.96|2012-11-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1| 1~10|      2012|   7000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   12|                 28.96|2013-01-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1| 1~10|      2012|   7500|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 29.87|2013-01-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|11~20|      2012|   8000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   12|                 29.85|2013-01-11T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|11~20|      2012|   7000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   12|                 29.85|2013-01-11T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|11~20|      2012|    500|        55| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    9|                 29.87|2013-01-11T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|11~20|      2012|   7000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   10|                 28.96|2013-01-11T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|11~20|      2012|   7000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   12|                 28.96|2013-01-11T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|21~31|      2012|  12000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   11|                 48.56|2013-01-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|21~31|      2012|   1000|        45| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 29.85|2013-01-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|21~31|      2012|   7000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   10|                 28.96|2013-01-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|21~31|      2012|   7000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 28.96|2013-01-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|21~31|      2012|   7000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2013-01-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    1|21~31|      2012|   6000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    4|                 29.85|2013-01-21T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    2| 1~10|      2012|   7000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    6|                 29.85|2013-02-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    2| 1~10|      2012|   7000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 28.96|2013-02-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    2| 1~10|      2012|    500|        45| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 29.85|2013-02-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    2| 1~10|      2012|   7000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    9|                 28.96|2013-02-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    2| 1~10|      2012|    500|        88| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 48.56|2013-02-01T00:00:00|37.2924897|127.0491615|
|경기도 수원시 영통구  이의동|            1330|2013|    2|11~20|      2012|   7000|         0| 경기도| 수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    9|                 28.96|2013-02-11T00:00:00|37.2924897|127.0491615|
+----------------+----------------+----+-----+-----+----------+-------+----------+----+--------+----+-----+------------+-----+----------------------+-------------------+----------+-----------+
only showing top 20 rows

379966

In [28]:
final_office_df.write.csv("final_office_rent")