In [13]:
import pandas as pd
import numpy as np
import urllib.request
import xml.etree.ElementTree as ET   
from pprint import pprint

In [56]:
def query_sender(citicode, route):
    url = 'http://openapi.tago.go.kr/openapi/service/BusRouteInfoInqireService/getRouteNoList?'
    code_info = '&cityCode=' + citicode + '&routeNo=' + route
    key = 'serviceKey=A%2B5yiKxuv%2FA7XoZ1NHQJAzOG9LvrCcXAxTvzpiw23AVvZORC6nZVbb9ePvaCDWR0ebeRjP0K6ZCujm8hxzXpiw%3D%3D'
    request = urllib.request.Request(url + key + code_info )
    request.get_method = lambda: 'GET'
    response_body = urllib.request.urlopen(request).read()
    u = str(response_body ,'utf-8')
    return u
def xml_to_item_list(xml_string):
    result = []
    root = ET.fromstring(xml_string)
    elements = root.findall('body/items/item')
    item_list = []
    for item in elements:
        try:
            item_list = []
            #item_list.append(BeginDate)
            item_list.append(item.find('routeid').text)
            item_list.append(item.find('routeno').text)
            item_list.append(item.find('routetp').text)
            item_list.append(item.find('endnodenm').text)
            item_list.append(item.find('startnodenm').text)
            item_list.append(item.find('endvehicletime').text)
            item_list.append(item.find('startvehicletime').text)
            result.append(item_list)
        except Exception as e:
            print(e)
            print("This row will be ignored. ",item_list)
    return result

In [71]:
def query_sender2():
    url = 'http://openapi.tago.go.kr/openapi/service/TrainInfoService/getCtyCodeList?'
    key = 'serviceKey=A%2B5yiKxuv%2FA7XoZ1NHQJAzOG9LvrCcXAxTvzpiw23AVvZORC6nZVbb9ePvaCDWR0ebeRjP0K6ZCujm8hxzXpiw%3D%3D'
    request = urllib.request.Request(url + key  )
    request.get_method = lambda: 'GET'
    response_body = urllib.request.urlopen(request).read()
    u = str(response_body ,'utf-8')
    return u
def xml_to_item_list2(xml_string):
    result = []
    root = ET.fromstring(xml_string)
    elements = root.findall('body/items/item')
    item_list = []
    for item in elements:
        try:
            item_list = []
            #item_list.append(BeginDate)
            item_list.append(item.find('citicode').text)
            item_list.append(item.find('citiname').text)
            result.append(item_list)
        except Exception as e:
            print(e)
            print("This row will be ignored. ",item_list)
    return result

In [ ]:
def query_sender2(id1):
    url = 'http://openapi.tago.go.kr/openapi/service/BusRouteInfoInqireService/getRouteNoList?'
    code_info = '&id='+ id1
    key = 'serviceKey=A%2B5yiKxuv%2FA7XoZ1NHQJAzOG9LvrCcXAxTvzpiw23AVvZORC6nZVbb9ePvaCDWR0ebeRjP0K6ZCujm8hxzXpiw%3D%3D'
    request = urllib.request.Request(url + key + code_info )
    request.get_method = lambda: 'GET'
    response_body = urllib.request.urlopen(request).read()
    u = str(response_body ,'utf-8')
    return u
def xml_to_item_list2(xml_string):
    result = []
    root = ET.fromstring(xml_string)
    elements = root.findall('body/items/item')
    item_list = []
    for item in elements:
        try:
            item_list = []
            #item_list.append(BeginDate)
            item_list.append(item.find('citicode').text)
            item_list.append(item.find('citiname').text)
            result.append(item_list)
        except Exception as e:
            print(e)
            print("This row will be ignored. ",item_list)
    return result

In [72]:
xml = query_sender2()

In [74]:
xml

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>99</resultCode><resultMsg>SERVICE ACCESS DENIED ERROR.</resultMsg></header></response>'

In [70]:
xml_string_1 = query_sender('11', )

TypeError: query_sender() missing 1 required positional argument: 'route'

In [69]:
xml_string_1

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>00</resultCode><resultMsg>NORMAL SERVICE.</resultMsg></header><body><items/><numOfRows>10</numOfRows><pageNo>1</pageNo><totalCount>0</totalCount></body></response>'

In [59]:
item_list_1 = xml_to_item_list(xml_string_1)
item_numpy_list_1 = np.array(item_list_1)
df1 = pd.DataFrame(item_numpy_list_1)

In [60]:
df1.head()

               0  1     2      3       4     5     6
0  DJB30300004ND  5  마을버스  목련아파트  마을,봉산동  2230  0600

In [28]:
df1.head()

Empty DataFrame
Columns: [0]
Index: []

In [10]:
xml_string_5 = query_sender('20170101','20171231','422400','','','','','','1','30000','')
item_list_5 = xml_to_item_list(xml_string_5)
item_numpy_list_5 = np.array(item_list_5)
df_cat_2017 = pd.DataFrame(item_numpy_list_5)

In [3]:
df_2015 = pd.concat([df1,df2,df3,df4])

In [5]:
df_2015.to_csv("df_2015.csv",encoding='EUC-KR',header = False,index = False )

In [4]:
len(df_2015)

58535

In [12]:
df_cat_2017.to_csv("2017_cat.csv",encoding='EUC-KR',header = False,index = False )

In [18]:
df_cat_2017 = pd.read_csv("2017_cat.csv", encoding = 'euc-kr')

In [20]:
df_cat_2017['입양여부'] = 0

In [25]:
df_cat_2017['입양여부'].sum()

6565

In [32]:
df_cat_2017[['성별','입양여부']].groupby('성별').agg([np.size, np.mean])

     입양여부
     size      mean
성별
F   10223  0.262154
M   10911  0.250390
Q    5433  0.212222

In [33]:
df_cat_2017[['중성화','입양여부']].groupby('중성화').agg([np.size, np.mean])

      입양여부
      size      mean
중성화
N    18397  0.266022
U     7625  0.193443
Y      545  0.359633

In [34]:
df_cat_2017.head()

,공고시작일,이미지,상태,성별,중성화,특징,보호소1,보호소2,보호소3,유기번호,접수일,발견장소,품종,색상,나이,체중,공고번호,공고종료일,입양여부
0,20180118,http://www.animal.go.kr/files/shelter/2017/12/...,종료(자연사),M,N,건강상태 매우 나쁨,영일동물플러스,054-262-8295,경상북도 포항시 북구 흥해읍 덕장길 224 (흥해읍),4.475020e+14,20171231,경북 포항시 학잠동 동아아파트 105동 부근,[고양이] 한국 고양이,"황,백",2017(년생),1(Kg),경북-포항-2018-00045,20180108,0
1,20180112,http://www.animal.go.kr/files/shelter/2018/01/...,보호중,M,N,(1422) 전 세입자가 버리고 감. 유기행위를 경고했으나 소유권을 포기함.,천안시유기동물보호소,050-5994-9119,충청남도 천안시 동남구 목천읍 학수소사길 132 (목천읍) [입양센터:서북구 천안천...,4.444490e+14,20171231,1422 *안서동 동화홈피스텔 입구,[고양이] 한국 고양이,치즈,2015(년생),6(Kg),충남-천안-2018-00046,20180103,0
2,20180112,http://www.animal.go.kr/files/shelter/2018/01/...,보호중,F,N,(1420) 소심해요,천안시유기동물보호소,050-5994-9119,충청남도 천안시 동남구 목천읍 학수소사길 132 (목천읍) [입양센터:서북구 천안천...,4.444490e+14,20171231,1420 *백석동 268-5 가게 옆 담벼락,[고양이] 한국 고양이,치즈,2018(년생),1(Kg),충남-천안-2018-00044,20180103,0
3,20180112,http://www.animal.go.kr/files/shelter/2018/01/...,보호중,M,N,(1418) 유기된 고양이를 병원으로 데리고 옴,천안시유기동물보호소,050-5994-9119,충청남도 천안시 동남구 목천읍 학수소사길 132 (목천읍) [입양센터:서북구 천안천...,4.444490e+14,20171231,1418 *청당동 가온동물병원,[고양이] 한국 고양이,반고등어,2018(년생),0.9(Kg),충남-천안-2018-00042,20180103,0
4,20180112,http://www.animal.go.kr/files/shelter/2018/01/...,보호중,F,N,(1417) 유기된 고양이를 병원으로 데리고 옴,천안시유기동물보호소,050-5994-9119,충청남도 천안시 동남구 목천읍 학수소사길 132 (목천읍) [입양센터:서북구 천안천...,4.444490e+14,20171231,1417 *청당동 가온동물병원,[고양이] 한국 고양이,반고등어,2018(년생),0.9(Kg),충남-천안-2018-00041,20180103,0

In [24]:
df_cat_2017['입양여부'][df_cat_2017['상태'] == '종료(입양)'] = 1

C:\Users\pjk\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [62]:
'''
보호중         1467
종료(기증)      1174
종료(미포획)       57
종료(반환)     13148
종료(방사)        28
종료(안락사)    15591
종료(입양)     21815
종료(자연사)     9459
'''
title_mapping = {"보호중": "0", "종료(기증)": "0", "종료(미포획)": "0", "종료(반환)": "0", \
                 "종료(방사)": "0" ,"종료(안락사)": "0", "종료(입양)": "1", "종료(자연사)": "0" }

for dataset in df_2016 :
    dataset['입양여부'] = dataset['입양여부'].map(title_mapping)
    #dataset['입양여부'] = dataset['입양여부'].fillna(0)

TypeError: string indices must be integers