In [1]:
import pandas as pd

In [5]:
indf = pd.read_csv('yearvador.csv', engine='python')

In [6]:
indf.head()

                                               TPath  TPCnt  TLinkCnt
0  1000987,1001783,1001784,1001790,1001835,100184...      1       177
1  1000987,1001783,1001784,1001790,1001835,100184...      1       212
2  1000987,1001783,1001784,1001790,1001835,100184...      1       119
3  1069503,0,1090781,1090783,1039862,1040091,1040...      1        47
4  1069503,0,1090781,1090783,1039862,1040092,1040...      1        18

In [ ]:
pd.concat([df[[0]], df[1].str.split(', ', expand=True)], axis=1)

In [ ]:
dfcleancsv = pd.concat([dfcleancsv['KEYS'], dfcleancsv[1].str.split(', ', expand=True)], axis=1)

In [103]:
import gc

In [107]:
gc.collect()

0

In [100]:
indf2.head()

   TPCnt  TLinkCnt                                                  0
0      1       177  1000987,1001783,1001784,1001790,1001835,100184...
1      1       212  1000987,1001783,1001784,1001790,1001835,100184...
2      1       119  1000987,1001783,1001784,1001790,1001835,100184...
3      1        47  1069503,0,1090781,1090783,1039862,1040091,1040...
4      1        18  1069503,0,1090781,1090783,1039862,1040092,1040...

In [13]:
df1 = pd.read_csv('(분석맵)추정구간교통량(시간별).csv', engine='python', encoding='euc_kr')

In [14]:
df1.head()

    LinkID  도로등급     연장  도로명  도로번호      시도명  시군구명 읍면동명  시간   전체  승용차   버스   트럭
0  1000001   106  4.651  대한로  1120  제주특별자치도  서귀포시  대정읍   0  2.0  2.0  0.0  0.0
1  1000001   106  4.651  대한로  1120  제주특별자치도  서귀포시  대정읍   1  1.0  1.0  0.0  0.0
2  1000001   106  4.651  대한로  1120  제주특별자치도  서귀포시  대정읍   2  1.0  1.0  0.0  0.0
3  1000001   106  4.651  대한로  1120  제주특별자치도  서귀포시  대정읍   3  2.0  2.0  0.0  0.0
4  1000001   106  4.651  대한로  1120  제주특별자치도  서귀포시  대정읍   4  4.0  3.0  0.0  1.0

In [20]:
df2 = pd.read_csv('(분석맵)전체평균속도(시간별).csv', engine='python', encoding='euc_kr')

In [21]:
df2.head()

    LinkID  도로등급     연장  도로명  도로번호       도명  시군구명 읍면동명  시간     전체평균속도
0  1000001   106  4.651  대한로  1120  제주특별자치도  서귀포시  대정읍   0  38.894158
1  1000001   106  4.651  대한로  1120  제주특별자치도  서귀포시  대정읍   1  41.153917
2  1000001   106  4.651  대한로  1120  제주특별자치도  서귀포시  대정읍   2  39.426082
3  1000001   106  4.651  대한로  1120  제주특별자치도  서귀포시  대정읍   3  40.301041
4  1000001   106  4.651  대한로  1120  제주특별자치도  서귀포시  대정읍   4  40.350000

In [31]:
dfall = pd.merge(df1, df2[['LinkID','시간','전체평균속도']], on=['LinkID', '시간'], how='outer')

In [32]:
dfall.head()

,LinkID,도로등급,연장,도로명,도로번호,시도명,시군구명,읍면동명,시간,전체,승용차,버스,트럭,전체평균속도
0,1000001,106,4.651,대한로,1120,제주특별자치도,서귀포시,대정읍,0,2.0,2.0,0.0,0.0,38.894158
1,1000001,106,4.651,대한로,1120,제주특별자치도,서귀포시,대정읍,1,1.0,1.0,0.0,0.0,41.153917
2,1000001,106,4.651,대한로,1120,제주특별자치도,서귀포시,대정읍,2,1.0,1.0,0.0,0.0,39.426082
3,1000001,106,4.651,대한로,1120,제주특별자치도,서귀포시,대정읍,3,2.0,2.0,0.0,0.0,40.301041
4,1000001,106,4.651,대한로,1120,제주특별자치도,서귀포시,대정읍,4,4.0,3.0,0.0,1.0,40.350000

In [97]:
dfall.to_csv('dfall.csv')

In [98]:
dfks.to_csv('dfks.csv')

In [33]:
dfall['통과시간'] = dfall['연장'] / dfall['전체평균속도']

In [94]:
dfall['km당통과시간'] = dfall['전체평균속도'] /  dfall['연장']

In [74]:
dd = [dfall['시도명'] == '서울특별시'] or [dfall['시도명']=='경기도']

In [95]:
dfks = dfall[(dfall['시도명'] == '경기도') | (dfall['시도명']=='서울특별시') | (dfall['시도명']=='인천광역시')]

In [113]:
dfdic = dfks[['LinkID', '도로등급', '연장', '도로명', '도로번호', '시도명', '시군구명', '읍면동명']].groupby(['LinkID']).max()

In [126]:
type(dfdic)

pandas.core.frame.DataFrame

In [127]:
dfdic

         도로등급     연장      도로명  도로번호  시도명 시군구명 읍면동명
LinkID
1011122   101  5.596  서해안고속도로    15  경기도  평택시  포승읍
1011123   101  0.357  서해안고속도로    15  경기도  평택시  포승읍
1011124   108  0.630  서해안고속도로    15  경기도  평택시  포승읍
1011125   101  0.498  서해안고속도로    15  경기도  평택시  포승읍
1011126   108  0.354  서해안고속도로    15  경기도  평택시  포승읍

In [116]:
dfdic[ dfdic['시도명'] == '제주특별자치도']

Empty DataFrame
Columns: [도로등급, 연장, 도로명, 도로번호, 시도명, 시군구명, 읍면동명]
Index: []